<div id="settings_tabs">
  <ul class="tabs table_tools_segmented_control">
    <% groups.each do |g| %>
      <li>
        <a class="table_tools_button" href="#<%= g[:slug] %>"><%= g[:name] %></a>
      </li>
    <% end %>
    <li><a class="table_tools_button" href="#admins"><%=t '.admins' %></a></li>
  </ul>

  <% groups.each do |g| %>
    <div id="<%= g[:slug] %>" class="settings_table_container">
      <%= render :partial => "settings_table", :locals => { :slug => g[:slug], :settings => g[:settings]} %>
    </div>
  <% end %>

  <div id="admins">
    <%= render :partial => "admins_table", :locals => {:admins => admins} %>
  </div>
</div>